* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:visited {
    color: #021718;
}

#btn a:visited {
    color: #FFFFFA;
}

body {
    background: #F1A05C;
    background-image: url(./pix/Vector-1.svg), url(./pix/Vector-2.svg);
    background-repeat: no-repeat;
    background-position: 112% -4%, 100% 100%;
    background-size: 900px 865px, 984px 1006px;
    background-attachment: fixed;
    color: #021718;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

header {
    height: 60px;
    top: -4px;
    background: #FFFFFA;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
    min-width: fit-content;
}

#logo {
    font-size: 58px;
    font-weight: 900;
    text-transform: capitalize;
}

.navigation {
    width: 1200px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: flex-end;
    flex: 4;
}

.navigation ul {
    display: flex;
    width: 50%;
    list-style: none;
}

.navigation li {
    font-size: 20px;
    font-weight: 400;
    flex: 1;
}

#search {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    top: -10px;
}

#search-box {
    background: #FFFFFA;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    width: 300px;
    height: 67px;
    top: -37px;
    z-index: -1;
    display: inline-flex;
    padding-left: 20px;
}

#search-box input {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    border: none;
}

#search-box input:focus {
    border: none;
    color: #021718;
    outline-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
}

#search img {
    position: absolute;
    cursor: pointer;
}

main {
    display: flex;
    justify-content: center;
}

#text-block {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

#text-block h1 {
    font-size: 58px;
    font-weight: 800;
}

#text-block p {
    font-size: 22px;
    font-weight: 400;
    margin: 30px 35% 35px 0;
    line-height: 2em;
}

#text-block #btn {
    background-color: #01847F;
    color: #FFFFFA;
    padding: 20px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    cursor: pointer;
    width: 120px;
    border-radius: 8px;
}

#photo-block {
    flex: 1;
    padding-top: 125px;
    position: relative;
    height: 600px;
}

#photo-block img {
    height: 600px;
    width: 600px;
    position: absolute;
    transition: 1.5s;
    top: 100px;
}

#photo-block img:hover {
    transform: rotate(-5.57deg);
}

#photo-bg {
    height: 500px;
    width: 500px;
    background: #44A1A0;
    transform: rotate(-5.47deg);
    position: absolute;
    top: 130px;
    left: 50px;
}

#social {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#social div {
    margin-right: 45px;
}